@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#header, #footer{
  margin:0 auto;
  padding:0;
  font-family : 'Roboto', sans-serif;
}
/* 헤더 퀵메뉴 세부항목 */
#header_quickmenu_dtl{
  display: none;
  margin:0 auto;
  padding:0 auto;
  position:fixed;
  right:0;
  width:450px;
  height:100%;
  background-color: #888;
  transition:all 0.7s;
  z-index: 99;
}
#header_quickmenu_dtl .qm_close{
  width:50px;
  height: 50px;
  background-color: #aaa;
}
#header_quickmenu_dtl li{
  list-style-type: none;
}
#header_quickmenu_dtl a{
  text-decoration: none;
}
/* 메인페이지 시작 */
#container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family : 'Roboto', sans-serif;
}
#header{
  width: 100%;
  height: 90px;
  background-color: #efefef;
}
#header_container{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#logo{
  margin:0px 0px 10px 40px;
  width:200px;
  height: 90px;
  
}
#navbar{
  display: flex;
  width:100%;
  height: 90px;
  justify-content: space-around;
  align-items: center;
  background-color :#efefef;

}
.navbar_list{

  list-style: none; 
  
}
.navbar_list > a{
  display: block;
  width:200px;
  height: 90px;
  text-decoration: none; 
  text-align: center;
  line-height: 90px;
  font-weight: 700;
  font-size: 20px;
}
.navbar_list > a:hover{
  background-color: #fff;
}

#header_quickmenu{
  margin:0 auto;
  width:150px;
  height: 90px;
  text-align: center;
}
#header_quickmenu img{
  display: block;
  margin: 20px auto;
}

/* 메인 콘텐츠 영역 */
#contents{
  margin:0 auto;
  display: flex;
  width:1920px;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: red;
}

#main_image{
  margin:0px;
  padding:0px;
  width:1400px;
  height: 1000px;
  background-color: rgb(29,68,123);
  color:white;
  text-align: center;
}
#main_image > p{
  font-family : 'Roboto', sans-serif;
}
#main_image > p:nth-child(1){
  font-size: 40px;
}
.big_spin{
  margin-top: 140px;
  margin-left: 90px;
  text-align: center;
  position:relative;
  vertical-align: baseline  ;
  animation: big_spin;
  animation-iteration-count:infinite;
  animation-duration: 30s;
  animation-timing-function: linear;
  overflow: hidden;
  z-index: 10;
}
.small_spin{
  animation:small_spin;
  margin-top: 140px;
  margin-left: 90px;
  text-align: center;
  position:relative;
  vertical-align: baseline  ;
  animation: small_spin;
  animation-iteration-count:infinite;
  animation-duration: 30s;
  animation-timing-function: linear;
  z-index: 10;
}
@keyframes big_spin{
  from{
  position:absolute;
 }to{
  position:absolute;
  transform: rotate(360deg);
 }
}
@keyframes small_spin {
  from{
    position:absolute;
   }to{
    position:absolute;
    transform: rotate(-360deg);
   }
}
.country_wrap{
  display: none;
  text-transform: uppercase;
  z-index: 9;
}
#main_article{
  margin:0px;
  padding:0px;
  width:1400px;
  height:650px;
  background-color: antiquewhite;
  z-index: 8;
}

#footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width:100%;
  height:100%;
}
#footer_top{
  display: flex;
  width:100%;
  height: 100%;
}
.footer_top_left{
  width:50%;
  height: 180px;
  background-color: blueviolet;
}
.footer_top_right{
  width:50%;
  height: 180px;
  background-color: brown;
}
#footer_bottom{
  display: flex;
  width:100%;
  height: 100%
}
#footer_quickmenu{
  margin:0 auto;
  padding:0px;
  width:1920px;
  height: 300px;
  background-color: aqua;
}
.footer_quickmenu_mn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer_quickmenu_mn li{
  list-style: none;
  text-decoration: none;
}
#copyright{
  width:1920px;
  height: 78px;
  background-color: antiquewhite;
  text-align: center;
  line-height: 78px;
}