@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#header, #footer{
  margin:0 auto;
  padding:0;
  font-family : 'Roboto', sans-serif;
}
ul, li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
/* 헤더 퀵네비 설정 */
/* 기준 
  - 랩탑 : 1024이상
  - 아이패드 : 768*1024;
  - 갤s5 360*640;
*/
#header_quick_nav_icon{
  display: none;
}
#header_quick_nav{
  display: none;
}
/* 메인페이지 시작 */
#container_wrap{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family : 'Roboto', sans-serif;
}
#header{
  width: 100%;
  height: 90px;
  /* background-color: #efefef; */
}
#header_container{
  display: flex;
  width:100%;
  height: 100%; 
  flex-direction: row;
  align-items: center;
}
.logo{
  margin:0 auto;
  width:200px;
  height: 90px;
  text-align: center;
  /* background-color: aquamarine; */
}
.logo_s{
  display: none;
}
#navbar{
  display: flex;
  width:100%;
  height: 90px;
  justify-content: space-around;
  align-items: center;
  background-color :#efefef;
}
.navbar_list{
  list-style: none; 
  
}
.navbar_list > a{
  display: block;
  width:130px;
  height: 90px;
  text-decoration: none; 
  text-align: center;
  line-height: 90px;
  font-weight: 700;
  font-size: 20px;
  color:#121212;
}
.navbar_list > a:hover{
  color:#565656;
  /* background-color: #fff; */
}
.quick_mn{
  float: right;
  width:200px;
  height: 90px;
}

#header_quickmenu{
  margin:0 auto;
  width:150px;
  height: 90px;
  text-align: center;
}
#header_quickmenu img{
  display: block;
  margin: 20px auto;
}

/* 메인 콘텐츠 영역 */
#contents{
  margin:0 auto;
  display: flex;
  width:100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: red;
}

#main_image{
  margin:0px;
  padding:0px;
  width:1400px;
  height: 1000px;
  background-color: rgb(29,68,123);
  color:white;
  text-align: center;
}
#main_image > p{
  font-family : 'Roboto', sans-serif;
}
#main_image > p:nth-child(1){
  font-size: 40px;
}
.big_spin{
  margin-top: 140px;
  margin-left: 90px;
  text-align: center;
  position:relative;
  vertical-align: baseline  ;
  animation: big_spin;
  animation-iteration-count:infinite;
  animation-duration: 30s;
  animation-timing-function: linear;
  overflow: hidden;
  z-index: 3;
}
.small_spin{
  animation:small_spin;
  margin-top: 140px;
  margin-left: 90px;
  text-align: center;
  position:relative;
  vertical-align: baseline  ;
  animation: small_spin;
  animation-iteration-count:infinite;
  animation-duration: 30s;
  animation-timing-function: linear;
  z-index: 3;
}
@keyframes big_spin{
  from{
  position:absolute;
 }to{
  position:absolute;
  transform: rotate(360deg);
 }
}
@keyframes small_spin {
  from{
    position:absolute;
   }to{
    position:absolute;
    transform: rotate(-360deg);
   }
}
.country_wrap{
  display: none;
  text-transform: uppercase;
  /* z-index: 9; */
}
#main_article{
  margin:0px;
  padding:0px;
  width:1400px;
  height:650px;
  background-color: antiquewhite;
  z-index: 8;
}

#footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width:100%;
  height:100%;
}
#footer_top{
  display: flex;
  width:100%;
  height: 100%;
}
.footer_top_left{
  width:50%;
  height: 180px;
  background-color: blueviolet;
}
.footer_top_right{
  width:50%;
  height: 180px;
  background-color: brown;
}
#footer_bottom{
  display: flex;
  width:100%;
  height: 100%
}
#footer_quickmenu{
  margin:0 auto;
  padding:0px;
  width:1920px;
  height: 300px;
  background-color: aqua;
}
.footer_quickmenu_mn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer_quickmenu_mn li{
  list-style: none;
  text-decoration: none;
}
#copyright{
  width:1920px;
  height: 78px;
  background-color: antiquewhite;
  text-align: center;
  line-height: 78px;
}

@media screen and (max-width:1023px) {
  #header_quick_nav{
    display: none;
    margin:0 auto;
    padding:0 auto;
    position:fixed;
    right:0;
    width:450px;
    height:100%;
    background-color: #888;
    opacity: 0.9;
    transition:all 0.7s;
    z-index: 99;
  }
  #header_container{
    justify-content: space-between;
    /* background-color: rgb(226, 255, 146); */
  }
  .logo{
    display: none;
  }
  .logo_s{
    display: block;
    margin-top:35px;
    width:100px;
    height: 100px;
    text-align: center;
    /* background-color: aquamarine; */
  }

  #navbar, .quick_mn{
    display: none;
  }

  #header_quick_nav_icon{
    display: block;
    margin-right: 20px;
  }
  #header_quick_nav .qnav_close{
    float: right;
    margin: 10px auto;
    margin-right: 15px;
    width:30px;
    height: 30px;
    position:relative;
    text-align: center;
    line-height: 30px;
    /* background-color: #aaa; */
    cursor: pointer;
    z-index:100; 
  }
  #header_quick_nav .qnav_close:hover{
   
    transform: rotate(-90deg) ;
    transition: 0.5s;
  }
  #contents{
    margin:0 auto;
    display: flex;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
  }
};