@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#header, #footer{
  margin:0 auto;
  padding:0;
}
#container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#post{
  width:1400px;
  height:100%;
}
#post_top{
  text-align: left;
  font-size: 10px;
}
#post_text{
  list-style-type: none;
  font-size: 20px;
  font-style: ;
}
#post p{
  font-size: 4px;
  color: rgb(84, 84, 84);
}

#header{
  width: 100%;
  height: 90px;
  background-color: #fff;
}
#header_container{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#logo{
  width:200px;
  height: 90px;
  background-color: #fff;
}
#navbar{
  display: flex;
  width:100%;
  height: 90px;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}
.navbar_list{
  list-style: none; 
  
}
.navbar_list > a{
  width:200px;
  height: 90px;
  text-decoration: none;  
}
#header_quickmenu{
  margin:0 auto;
  width:150px;
  height: 90px;
  line-height: 90px;
  text-align: center;
}
/* 메인 콘텐츠 영역 */
#contents{
  margin:0 auto;
  display: flex;
  width:1000px;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: red;
}

#main_image{
  margin:0px;
  padding:0px;
  width:1400px;
  height: 1000px;
  background-color: rgb(29,68,123);
  color:white
}
#main_image > p{
  font-family : 'Roboto', sans-serif;
}

#main_article{
  margin:0px;
  padding:0px;
  width:1200px;
  height:650px;
  background-color: antiquewhite;
}

#footer{
  width:1400px;
  height:100%;
}
#footer_top{
  display: flex;
  float: left;
  margin:0px;
  padding:0px;
  width:1400px;
  height: 100%;
}
.footer_top_left{
  margin:0px;
  padding:0px;
  width:600px;
  height: 180px;
  background-color: blueviolet;
}
.footer_top_right{
  margin:0px;
  padding:0px;
  width:600px;
  height: 180px;
  background-color: brown;
}
#footer_quickmenu{
  margin:0px;
  padding:0px;
  width:1200px;
  height: 300px;
  background-color: aqua;
}
.footer_quickmenu_mn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer_quickmenu_mn li{
  list-style: none;
  text-decoration: none;
}
#copyright{
  margin:0px;
  padding:0px;
  width:1200px;
  height: 78px;
  background-color: antiquewhite;
  text-align: center;
  line-height: 78px;
}