@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#header, #footer{
  margin:0 auto;
  padding:0;
  font-family : 'Roboto', sans-serif;
  text-align: center;
}
ul, li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: black;
}
/* 헤더 퀵네비 설정 */
/* 반응형 기준 
  - 랩탑 : 1024이상
  - 아이패드 : 768*1024;
  - 갤s5 360*640;
*/
#header_quick_nav{
  display: none;
  margin:0 auto;
  padding:0 auto;
  position:fixed;
  right:0;
  width:50%;
  height:100%;
  background-color: #888;
  opacity: 0.9;
  transition:all 0.7s;
  z-index: 99;
}
#header_quick_nav_icon{
  display: none;
  margin-right: 20px;
}
#header_quick_nav .qnav_close{
  float: right;
  margin: 10px auto;
  margin-right: 15px;
  width:30px;
  height: 30px;
  position:relative;
  text-align: center;
  line-height: 30px;
  /* background-color: #aaa; */
  cursor: pointer;
  z-index:100; 
}
#header_quick_nav .qnav_close:hover{
  transform: rotate(-90deg) ;
  transition: 0.5s;
}
/* 컨테이너 시작*/
#container_wrap{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family : 'Roboto', sans-serif;
}
#header{
  width: 100%;
  height: 90px;
  /* background-color: #efefef; */
}
#header_container{
  display: flex;
  width:100%;
  height: 100%; 
  flex-direction: row;
  align-items: center;
}
.logo{
  margin:0 auto;
  width:200px;
  height: 90px;
  text-align: center;
  /* background-color: aquamarine; */
}
.logo_s{
  display: none;
}
#navbar{
  display: flex;
  width:100%;
  height: 90px;
  justify-content: space-around;
  align-items: center;
  /* background-color :#efefef; */
}
.navbar_list{
  list-style: none; 
  
}
.navbar_list > a{
  display: block;
  width:115px;
  height: 90px;
  text-decoration: none; 
  text-align: center;
  line-height: 90px;
  font-weight: 700;
  font-size: 20px;
  color:#121212;
}
.navbar_list > a:hover{
  color:#565656;
  /* background-color: #fff; */
}
.quick_menu{
  width:275px;
  height: 90px;
  /* background-color: aqua; */
}
.quick_menu ul{
  padding:15px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.quick_menu li{
  display: inline-block;
}
.quick_menu li:after{
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin-left :10px;
  margin-right: 10px;
  width: 1px;
  height: 14px;
  border-right: 1px solid #ababab;
  transform: skew(160deg);
}
.quick_menu li:last-child::after{
  display: none;
}


/* 메인 콘텐츠 영역 */
#contents_wrap{
  margin:0 auto;
  display: flex;
  width:100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: red;	
}
#main_contents_wrap{
  display: flex;
  width:100%;
  flex-direction: row;
}
#inner_top_nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100px;
  background-color: #787878;
}
.search_wrap{
  display: flex;
  width: 50%;
  height: 60px;
  background-color: cornsilk;
  justify-content: center;
  align-items: center;
}
.left_side_nav{
  width:25%;
  height: 1000px;
  background-color: #ababab;
}
.main_section{
  display: flex;
  flex-flow: row nowrap;
  width:75%;
  height: 1000px;
  background-color: #898989;
  overflow:hidden;
}
.main_item{
  width:100%;
  height:70%;
/*  background-color:violet; */
}
.main_item .item1{
  display: inline-block;
  margin: 30px 40px;
  width:200px;
  height: 300px;
  background-color: cornflowerblue;
}
.main_item .item1:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
